@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

body {
    /* https://stackoverflow.com/questions/35361986/css-gradient-checkerboard-pattern */
    --back-transp: 0.85;
    background: repeating-conic-gradient(
            rgba(0, 4, 76, var(--back-transp)) 0 25%,
            rgba(45, 0, 74, var(--back-transp)) 0 50%)
            50% / 30px 30px;
    color: white;
    
    padding: 0;
    margin: 0;
    
    min-height: 100vh;
    box-sizing: border-box;
    
    --primary: #4C29EB;
    --primary-text: #FFF;
    --primary-hover: #2f12b6;
    
    --secondary: #EDE9FD;
    --secondary-text: #000;
    --secondary-hover: #948eaf;

    --error: #eb294d;
    --error-text: #EDE9FD;
    --error-hover: #b61c3a;
}

div, label {
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

div#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    min-height: 100vh;

    gap: 10px;
    
    &.active {
        justify-content: start;
    }
}

div.container {
    width: 96%;
    max-width: 760px;
    box-sizing: border-box;

    padding: 11px 30px;

    background: var(--primary);
    color: white;

    border-radius: 32px;

    font-family: "Adwaita Mono", sans-serif;

    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 8px 0;

    & > .content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        height: 100%;
        padding-block: 10px;

        background: var(--secondary);
        color: var(--secondary-text);

        border-radius: 22px;
        padding-inline: 30px;

        transition: all 0.2s;
        
        max-height: 300px;
        overflow-y: auto;
        
        & p {
            word-break: break-all;
            width: 100%;
        }
    }
}